<% include partials/head %> 
<% include partials/navbar %> 


<div class="container">
    <form class="employee-add-form" action="" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="first_name" id="first-name" placeholder="First Name" required />
            </div>

        </div>
        <button type="submit" class="btn btn-primary float-right">Add Employee</button>
    </form>
</div>