<% include partials/head %> 
<div class="container">
    <table class="table">
        <thead>
            <tr>   
                <th> ID </th>
            </tr>
        </thead>
    <tbody>
    <% if(employees.length) {
    %>
       <% employees.forEach((e) => {
        %>
        <tr>
        <td> <%= e.emp_no %> </td>
        </tr>
        <%
       })%>
    <%
    }
    %>
    </tbody>
</div>