<div>
    Hello <%=title %>
    <hr />

    <% if(employees.length) {
    %><ul>
       <% employees.forEach((e) => {
        %>
        <li> <%= e.emp_no %> </li>
        <%
       })%>
    </ul><%
    }
    %>
</div>